.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 180px); /* accounts for header + footer */
}

.login-card {
  width: 350px;
  padding: 20px;
  background: #111;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.5);
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-btn {
  width: 100%;
  margin-top: 10px;
  border-radius: 20px;
}

.register-link {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

  .register-link a {
    color: #00bcd4;
    text-decoration: none;
    font-weight: bold;
  }

    .register-link a:hover {
      text-decoration: underline;
    }
